<div class="container">
  <h1><%= applicant.name %> Details</h1>
  <p class="applicant-label">Email: <%= applicant.email %></p>
  <p>Contact: <%= applicant.contact %></p>
  <p>
    <a
      href="<%= applicant.resumePath %>"
      target="_blank"
      class="applicant-resume-btn"
      >View Resume</a
    >
  </p>
</div>
